<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
		<title>Retireve OS Info</title>	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" href = "/style.css" type = "text/css">
	</head>

	<body></body>
		<h1>Operating System Information</h1>
        <h3>Weather in <%- city %> : <%- weather %> <%- temp %> degrees Fahrenheit</h3>
        <strong>Name: </strong><%- name %><br><br>
        <strong>Email Address: </strong><%- email %><br><br>
        <strong>Operating System: </strong><%- OS %><br>
        <br><strong>Additional Information: </strong><br><%- additionalInformation %>
        <br><br><a href="/">Main Menu</a>
   </body>
</html>